*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

ul, ol {
    list-style: none;
}

html {
    font-family: 'Fredoka', sans-serif;
}

/*Header*/

.container {
    margin: 20px auto;
    max-width: 980px;
    text-align: center;
}

.title {
    color: #e53170;
    text-align: center;
    font-size: 48px;
    font-weight: 900px;
    margin: 10px;
}

/*Main*/

.subtitle {
    margin: 40px auto;
    font-size: 20px;
}

/*Tables*/

.table {
    margin-top: 5px;
    margin-bottom: 15px;
}

.clearfix::after {
	content: '';
	display: table;
	clear: both;
}

/*Cards*/

.card {
    margin: 10px; 
    float: left;
    width: calc((100% - 60px) / 3);
    background-color: #0f0e17;
    box-shadow: 0 0 3px 3px lightgray;
}

.card__info {
    color: white;
    vertical-align: middle;
    padding-top: 14px;
}

.card__img {
    float: left;
    height: 100px;
}

.email {
    color: #3dade4;
}

/*Footer*/

.footer {
    color: white;
    padding: 50px;
    font-size: 15px;
    background-color: #0f0e17;
    text-align: center;
}

/*DEBUG CLASS*/
.debug {
    border: 2px solid red;
    min-height: 30px;
    padding: 10px;
}

.debug .table {
	min-height: 100px;
	padding: 20px;
}