*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

ul, ol {
    list-style: none;
}

html {
    font-family: 'Fredoka', sans-serif;
}


.container {
    margin: 20px auto;
    max-width: 980px;
    text-align: center;
}

.title {
    color: #e53170;
    text-align: center;
    font-size: 48px;
    font-weight: 900px;
    margin: 10px;
}

.subtitle {
    margin: 50px auto;
    font-size: 20px;
}

/*Tabella*/

.table {
    margin-top: 5px;
}

.clearfix::after {
	content: '';
	display: table;
	clear: both;
}

/*Cards*/

.card {
    margin: 10px; 
    float: left;
    width: calc((100% - 60px) / 3);
    background-color: #0f0e17;
}

.card__info {
    color: white;
}

.card__img {
    float: left;
}

.email {
    color: #3dade4;
}
/*DEBUG CLASS*/
.debug {
    border: 2px solid red;
    min-height: 30px;
    padding: 10px;
}

.debug .table {
	min-height: 100px;
	padding: 20px;
}